@mixin center-elem-horizontal-vertical-absolute($top, $right, $bottom, $left){
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    transform: translate(-50%, -50%);
}

@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin clearfix{
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}

@mixin border{
    border: 1px solid red;
}

@mixin calc-col-width($property, $num-of-col, $span){
/*
    width: calc((100% - #{$gutter-horizontal}) / 2);
    width: calc((100% - (2 * #{$gutter-horizontal} )) / 3);
    width: calc(2 * ((100% - (2 * #{$gutter-horizontal} )) / 3) + #{$gutter-horizontal});
    width: calc((100% - (3 * #{$gutter-horizontal} )) / 4);
    width: calc(2 * ((100% - (3 * #{$gutter-horizontal} )) / 4) + #{$gutter-horizontal});
    width: calc(3 * ((100% - (3 * #{$gutter-horizontal} )) / 4) + (#{$gutter-horizontal} * 2));
*/
    #{$property}: calc(#{$span} * ((100% - ((#{$num-of-col} - 1) * #{$gutter-horizontal})) / #{$num-of-col}) + ( (#{$span} - 1) * #{$gutter-horizontal}));
}

@mixin calc-col-width--no-gutter($property, $num-of-col, $span){
    #{$property}: calc(#{$span} * (100% / #{$num-of-col}));
}
