// Colors
/* $color-primary-light: #44f6ff;
$color-primary: #00f3ff;
$color-primary-dark: #00b2bb;
$color-primary-light-2: #63aaff;
$color-primary-2: #0073fc;
$color-primary-dark-2: #005cc9;
$color-primary-3: #00b3c9;
$color-primary-dark-3: #00c6a1; */

$color-primary-light: #7af4ff;
$color-primary: #03ebff;
$color-primary-dark: #00bfcf;

$color-grey-dark: #777;
$color-black: #000;
$color-white: #fff;
$color-grey-light: #fafafa;

// Variables for Grid
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// Typography 
$default-font-size: 1.6rem;