.header{
    position: relative;
    height: 100rem;
    width: 100%;
    margin: 0 auto;

    @include clearfix;

    [class$="-side"]{
        float: left;
        height: 100%;
        width: 50%;
    }

    &__landing-info-side{
        // ---- background-image: linear-gradient(to bottom, #a8ff78, #78ffd6);
        //background-image: linear-gradient(to bottom, #00c3ff, #ffff1c);
        //background-image: linear-gradient(to bottom, #c0c0aa, #1cefff);
        //background-image: linear-gradient(to bottom, #ff4b1f, #1fddff);
        // ---- background-image: linear-gradient(to bottom right, #fc00ff, #00dbde);
        //background-image: linear-gradient(to bottom,#0cebeb, #20e3b2, #FFE000);
        //background-image: linear-gradient(to bottom,#36d1dc,#5b86e5);
        //background-image: radial-gradient( circle farthest-corner at 12.3% 19.3%,  rgba(85,88,218,1) 0%, rgba(95,209,249,1) 100.2% );
        background: linear-gradient( to bottom,  rgba(3, 235, 255, .4) 10%, 50%, rgba(152,70,242,.4) ),
        url(../../img/shutterstock_60838927.jpg)
        top left/ auto 100%
        no-repeat; 
        
        .header__text-box{
            position: relative;
            top: 40%;
            transform: translateY(-50%);
            height: 50%;
            width: 80%;
            margin: 0rem auto 0 auto;
            background-color: transparent;
            text-align: center;

            &--paragraph{
                margin-top: 10rem;
            
                &-point{
                    /* height: 4rem;
                    outline: 1px solid $color-white; */

                    &:not(:last-child){
                    margin-bottom: 12em;
                    }
                }
            }
        }        
    }
}

/* 

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700,900" rel="stylesheet">

    <script src="index.js" type="text/javascript"></script>

    <link rel="stylesheet" href="css/icon-fonts.css">
    <link rel="stylesheet" href="css/style.css">

    <title>Subscription-Manager | Manage your subscriptions responsibly</title>
</head>
<body>
    <header>
        <div class="header">
            <div class="header__landing-info-side">
                <div class="header__text-box">
                    <div class="header__text-box--titles">
                        <h1 class="heading-primary--main"></h1>
                        <h1 class="heading-primary--sub"></h1>
                    </div>
                    <div class="header__text-box--paragraph">
                        <div class="row">
                            <div class="col-1-of-2 header__text-box--paragraph-point">
                                <i class="header__text-box--paragraph-point-icon"></i>
                            </div>
                            <div class="col-1-of-2 header__text-box--paragraph-point">
                                <i class="header__text-box--paragraph-point-icon"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1-of-2 header__text-box--paragraph-point">
                                <i class="header__text-box--paragraph-point-icon"></i>
                            </div>
                            <div class="col-1-of-2 header__text-box--paragraph-point">
                                <i class="header__text-box--paragraph-point-icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header__account-action-side">
                <div class="sign-in-module">
                    <div class="sign-in-module__container--upper">
                        <h1 class="sign-in-module__heading">Log In</h1>
                        <form class="sign-in-module__form">
                            <input type="email" name="sign-in-module__form--email" placeholder="  Email"><br>
                            <input type="password" name="sign-in-module__form--password" placeholder="  Password"><br>
                        </form>
                        <p class="sign-in-module__user-agreement-text">By clicking on Sign up you agree with<br>our Terms & Conditions</p>
                        <a href="" class="btn btn--primary-color btn--animated sign-in-module__btn"> SIGN IN</a>
                        <p class="sign-in-module__sign-in-option-text"> Or with</p>
                    </div>
                    <div class="row sign-in-module__container--lower">
                        <div class="col-1-of-3 colored-line--container">
                            <div class="colored-line--div-right"></div>
                        </div>
                        <div class="col-1-of-3">
                            <div class="row icon-container--social">
                                <div class="col-1-of-3">
                                    <a href="" class="sign-in-module__link-account-btn">
                                        <img src="img/google.svg" alt="" class="social-media-icon--svg svg--google">
                                    </a>
                                </div>
                                <div class="col-1-of-3">
                                    <a href="" class="sign-in-module__link-account-btn">
                                        <img src="img/facebook.svg" alt="" class="social-media-icon--svg svg--facebook">
                                    </a>
                                </div>
                                <div class="col-1-of-3">
                                    <a href="" class="sign-in-module__link-account-btn">
                                        <img src="img/paypal.svg" alt="" class="social-media-icon--svg svg--paypal">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-1-of-3 colored-line--container">
                            <div class="colored-line--div-left"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <section class="section-features">
            <div class="section-features__header-box">
                <h2 class="section-features__heading heading-secondary--main">Experience a new way to manage subscriptions</h2>
                <h2 class="section-features__heading heading-secondary--sub">By having all your subscriptions in one place, we help you
                    keep<br> your budget intact and your stress levels low.</h2>
            </div>
            <div class="row section-features__feature-box">
                <div class="col-1-of-3 section-features__feature-box-feature--1">
                    <h3 class="heading-tertiary--main">See all subscription</h3>
                    <h4 class="heading-tertiary--sub">View all your subscriptions in one easily manageable place</h4>
                </div>
                <div class="col-1-of-3 section-features__feature-box-feature--2">
                    <h3 class="heading-tertiary--main"> Super flexible</h3>
                    <h4 class="heading-tertiary--sub">Add and remove subscription, rearrange subscription and mark subscriptions for timed cancellation </h4>
                </div>
                <div class="col-1-of-3 section-features__feature-box-feature--3">
                    <h3 class="heading-tertiary--main"></h3>
                    <h4 class="heading-tertiary--sub"></h4>
                </div>
            </div>
        </section>
    </main>
</body>
</html>

*/