.header{
    position: relative;
    height: 100rem;
    width: 100%;
    margin: 0 auto;

    @include clearfix;

    [class$="-side"]{
        float: left;
        height: 100%;
        width: 50%;
    }

    &__landing-info-side{
        // ---- background-image: linear-gradient(to bottom, #a8ff78, #78ffd6);
        //background-image: linear-gradient(to bottom, #00c3ff, #ffff1c);
        //background-image: linear-gradient(to bottom, #c0c0aa, #1cefff);
        //background-image: linear-gradient(to bottom, #ff4b1f, #1fddff);
        // ---- background-image: linear-gradient(to bottom right, #fc00ff, #00dbde);
        //background-image: linear-gradient(to bottom,#0cebeb, #20e3b2, #FFE000);
        //background-image: linear-gradient(to bottom,#36d1dc,#5b86e5);
        //background-image: radial-gradient( circle farthest-corner at 12.3% 19.3%,  rgba(85,88,218,1) 0%, rgba(95,209,249,1) 100.2% );
        background-image: linear-gradient( to bottom,  rgb(3, 235, 255) 10%, 50%, rgba(152,70,242,1)); 
        
        .header__text-box{
            position: relative;
            top: 40%;
            transform: translateY(-50%);
            height: 50%;
            width: 80%;
            margin: 0rem auto 0 auto;
            background-color: transparent;
            text-align: center;

            &--paragraph{
                margin-top: 10rem;
            
                &-point{
                    height: 4rem;
                    outline: 1px solid $color-white;

                    &:not(:last-child){
                    margin-bottom: 12em;
                }
                }
            }
        }        
    }

    &__account-action-side{
        background: 
            url(../../img/shutterstock_60838927.jpg)
            top left/ auto 100%
            no-repeat;
    }

    &__svg-wave-img{
        position: absolute;
        bottom: 0;
        left: 0;
    }
}


/* 
<svg class="header__svg-wave-img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#ffffff" fill-opacity="1"
        d="M0,224L48,234.7C96,245,192,267,288,256C384,245,480,203,576,160C672,117,768,75,864,64C960,53,1056,75,1152,112C1248,149,1344,203,1392,229.3L1440,256L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
    </path>
</svg>



d="M0,224L48,240C96,256,192,288,288,298.7C384,309,480,299,576,256C672,213,768,139,864,117.3C960,96,1056,128,1152,149.3C1248,171,1344,181,1392,186.7L1440,192L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">

d="M0,128L80,133.3C160,139,320,149,480,165.3C640,181,800,203,960,186.7C1120,171,1280,117,1360,90.7L1440,64L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z">

d="M0,288L80,288C160,288,320,288,480,256C640,224,800,160,960,128C1120,96,1280,96,1360,96L1440,96L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"

d="M0,320L60,320C120,320,240,320,360,298.7C480,277,600,235,720,213.3C840,192,960,192,1080,192C1200,192,1320,192,1380,192L1440,192L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"            
    




<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700,900" rel="stylesheet">

    <script src="index.js" type="text/javascript"></script>

    <link rel="stylesheet" href="css/icon-fonts.css">
    <link rel="stylesheet" href="css/style.css">

    <title>Subscription-Manager | Manage your subscriptions responsibly</title>
</head>
<body>
    <header>
        <div class="header">
            <div class="header__landing-info-side">
                <div class="header__text-box">
                    <div class="header__text-box--titles">
                        <h1 class="heading-primary--main"> Sub Manger</h1>
                        <h1 class="heading-primary--sub">Manage your subscriptions responsibly</h1>
                    </div>
                    <div class="header__text-box--paragraph">
                        <div class="row">
                            <div class="col-1-of-2 header__text-box--paragraph-point">
                                <i class="header__text-box--paragraph-point-icon"></i>
                            </div>
                            <div class="col-1-of-2 header__text-box--paragraph-point">
                                <i class="header__text-box--paragraph-point-icon"></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-1-of-2 header__text-box--paragraph-point">
                                <i class="header__text-box--paragraph-point-icon"></i>
                            </div>
                            <div class="col-1-of-2 header__text-box--paragraph-point">
                                <i class="header__text-box--paragraph-point-icon"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header__account-action-side">
                <div class="sign-in-module">
                    <div class="sign-in-module__container--upper">
                        <div class="row">
                            <div class="col-1-of-3">
                                <a href="" class="sign-in-module__link-account-btn sign-in-module__link-account-btn--google"></a>
                            </div>
                            <div class="col-1-of-3">   
                                <a href="" class="sign-in-module__link-account-btn sign-in-module__link-account-btn--facebook"></a>
                            </div>
                            <div class="col-1-of-3">
                                <a href="" class="sign-in-module__link-account-btn sign-in-module__link-account-btn--paypal"></a>
                            </div>
                        </div>
                    </div>
                    <div class="sign-in-module__container--lower">
                        <h1 class="sign-in-module__heading">Link an account or<br>use email</h1>
                        <form class="sign-in-module__form">
                            <input type="email" name="sign-in-module__form--email" placeholder="  Email"><br>
                            <input type="password" name="sign-in-module__form--password" placeholder="  Password"><br>
                        </form>
                        <p class="sign-in-module__user-agreement-text">By clicking on Sign up you agree with<br>our Terms & Conditions</p>
                        <a href="" class="btn btn--primary-color btn--animated sign-in-module__btn"> Sign up</a>
                    </div>
                </div>
            </div>
            <svg class="header__svg-wave-img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                <path fill="#fafafa" fill-opacity="1"
                    d="M0,320L60,320C120,320,240,320,360,298.7C480,277,600,235,720,213.3C840,192,960,192,1080,192C1200,192,1320,192,1380,192L1440,192L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z">
                </path>
            </svg>
        </div>
    </header>
    <main>
        <section class="section-features">
            <div class="section-features__header-box">
                <h2 class="section-features__heading heading-secondary--main">Experience a new way to manage subscriptions</h2>
                <h2 class="section-features__heading heading-secondary--sub">By having all your subscriptions in one place, we help you
                    keep<br> your budget intact and your stress levels low.</h2>
            </div>
            <div class="row section-features__feature-box">
                <div class="col-1-of-3 section-features__feature-box-feature--1">
                    <h3 class="heading-tertiary--main">See all subscription</h3>
                    <h4 class="heading-tertiary--sub">View all your subscriptions in one easily manageable place</h4>
                </div>
                <div class="col-1-of-3 section-features__feature-box-feature--2">
                    <h3 class="heading-tertiary--main"> Super flexible</h3>
                    <h4 class="heading-tertiary--sub">Add and remove subscription, rearrange subscription and mark subscriptions for timed cancellation </h4>
                </div>
                <div class="col-1-of-3 section-features__feature-box-feature--3">
                    <h3 class="heading-tertiary--main"></h3>
                    <h4 class="heading-tertiary--sub"></h4>
                </div>
            </div>
        </section>
    </main>
</body>
</html>
            
*/