/* $color-primary-light: #44f6ff;
$color-primary: #00f3ff;
$color-primary-dark: #00b2bb;
$color-primary-light-2: #63aaff;
$color-primary-2: #0073fc;
$color-primary-dark-2: #005cc9;
$color-primary-3: #00b3c9;
$color-primary-dark-3: #00c6a1; */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */ }

body::-webkit-scrollbar {
  display: none; }

html {
  font-size: 62.5%; }

body {
  font-family: "lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  margin: 0; }

.heading-primary--main {
  font-size: 4rem;
  color: white;
  margin-bottom: 0rem; }

.heading-primary--sub {
  font-size: 2.5rem;
  color: white; }

.heading-secondary--main {
  font-family: "lato", sans-serif;
  font-size: 3rem; }

.heading-secondary--sub {
  font-family: "lato", sans-serif;
  font-size: 1.6rem; }

.heading-tertiary--main {
  font-family: "lato", sans-serif;
  font-size: 2rem;
  font-weight: 700; }

.paragraph--support-text {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: 600; }

/* 

.sign-in-module{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: transparent;

    &__container--upper{
        height: 60%;
        width: 100%;
        text-align: center;
    }

    &__heading{
        padding-top: 9.9%;
        font-size: 5rem;
        color: white;
    }

    &__form{
        margin-top: 3.4%;
        text-align: center;
        
        input{
            height: 6rem;
            width: 50%;
            font-size: 2rem;
            border:.15rem solid grey;
            border-radius: 3px;
            padding-left: 1rem;

            &[name$="--email"]{
                margin-bottom: 1.55%;
            }
        }
    }

    &__user-agreement-text{
        margin-top: 2.05%;
        font-size: 1.4rem;
        color: white;
    }

    &__btn{
        margin-top: 2.05%;
        width: 30%;
        font-family: "Lato";
        font-size: 3rem;
        padding: 2.5rem 0;
        border-radius: 0 3px;

        &--password-recover{
            margin: .3% 19% 0 0;
            font-size: 1.4rem;
            color: white;
        }
        &--sign-up-small{
            margin: .3% 0 0 19%;
            font-size: 1.4rem;
            color: white;
        }
    }

    &__sign-in-option-text{
        margin-top: .5%;
        font-size: 1.6rem;
        color: white;
    }

    &__container--lower{
        position: absolute;
        bottom: 10%;
        height: 3rem;
        width: 100%;
        padding: 0 7rem;

        .colored-line--container{
            height: 100%;
            width: 100%;

            [class^="colored-line--div"]{
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                height: 7%;
                width: 70%;
                margin: 0 auto;
                background-color: black;
                border-radius: 4rem;
            }
            
            .colored-line--div-right{
                margin: 0 0 0 30%;
            }

            .colored-line--div-left{
                margin: 0 30% 0 0;
            }
        }

        .icon-container--social{
            height: 3rem;
            width: 100%;

            .sign-in-module__link-account-btn{
                display: inline-block;
                height: 3rem;
                width: 100%;
                text-align: center;

                .social-media-icon--svg{
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    height: 3rem;
                    width: 3rem;            
                }
            }
        }
    }
}

*/
/* .sign-in-module{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    width: 100%;
    margin: 0 0 0 0;

    &__container--upper{
        height: 85%;
        width: 100%;
        text-align: center;
        border: 1px solid red;
    }

    &__heading{
        padding-top: 10%;
        font-size: 5rem;
        color: white;
    }

    &__form{
        margin-top: 3.4%;
        text-align: center;
        
        input{
            height: 6rem;
            width: 50%;
            font-size: 2rem;
            border:.15rem solid grey;
            border-radius: 3px;
            padding-left: 1rem;

            &[name$="--email"]{
                margin-bottom: 1.55%;
            }
        }
    }

    &__user-agreement-text{
        margin-top: 2.05%;
        font-size: 1.4rem;
        color: white;
    }

    &__btn{
        margin-top: 2.05%;
        width: 30%;
        font-family: "Lato";
        font-size: 3rem;
        padding: 1.3% 0;
        border-radius: 0 3px;

        &--password-recover{
            margin: .3% 19% 0 0;
            font-size: 1.4rem;
            color: white;
        }
        &--sign-up-small{
            margin: .3% 0 0 19%;
            font-size: 1.4rem;
            color: white;
        }
    }

    &__sign-in-option-text{
        margin-top: .5%;
        font-size: 1.6rem;
        color: white;
    }

    &__container--lower{
        height: 15%;
        width: 100%;
        padding: 0 7rem;
         border: 1px solid red;

        .colored-line--container{
            height: 100%;
            width: 100%;
            

            [class^="colored-line--div"]{
                height: 1%;
                width: 70%;
                margin: 0 auto;
                background-color: black;
                border-radius: 4rem;
            }
            
            .colored-line--div-right{
                margin: 6.8% 0 0 30%;
            }

            .colored-line--div-left{
                margin: 6.8% 30% 0 0;
            }
        }

        .icon-container--social{
            margin-top: 4%;
            height: 3rem;
            width: 100%;

            .sign-in-module__link-account-btn{
                display: inline-block;
                height: 3rem;
                width: 100%;
                text-align: center;

                .social-media-icon--svg{
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    height: 3rem;
                    width: 3rem;            
                }
            }
        }
    }
} 



.sign-in-module{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    width: 100%;
    padding: 0 18rem 0 0;

    &__container--upper{
        height: 85%;
        width: 100%;
        text-align: center;
    }

    &__heading{
        padding-top: 19rem;
        font-size: 5rem;
        color: white;
    }

    &__form{
        margin-top: 6.5rem;
        text-align: center;
        
        input{
            height: 6rem;
            width: 62%;
            font-size: 2rem;
            border:.15rem solid grey;
            border-radius: 3px;
            padding-left: 1rem;

            &[name$="--email"]{
                margin-bottom: 3rem;
            }
        }
    }

    &__user-agreement-text{
        margin-top: 3.8rem;
        font-size: 1.4rem;
        color: white;
    }

    &__btn{
        margin-top: 4rem;
        width: 37%;
        font-family: "Lato";
        font-size: 3rem;
        padding: 2.5rem 0;
        border-radius: 0 3px;

        &--password-recover{
            margin: .5rem 13% 0 0;
            font-size: 1.4rem;
            color: white;
        }
        &--sign-up-small{
            margin: .5rem 0 0 13%;
            font-size: 1.4rem;
            color: white;
        }
    }

    &__sign-in-option-text{
        position: relative;
        top: 35rem;
        font-size: 1.6rem;
        color: white;
    }

    &__container--lower{
        height: 15%;
        width: 100%;


        .colored-line--container{
            height: 100%;
            width: 100%;

            [class^="colored-line--div"]{
                height: 1.5%;
                width: 70%;
                background-color: black;
                border-radius: 4rem;
                margin: 7% auto 0 auto
            }
        }

        .icon-container--social{
            height: 3rem;
            width: 100%;
            text-align: center;
            margin: 0 auto;
        

            .sign-in-module__link-account-btn{
                display: inline-block;
                height: 3rem;
                width: 3rem;
    

                .social-media-icon--svg{
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    height: 3rem;
                    width: 3rem;            
                }
            }
        }
    }
}













*/
/* 
Full width
<header>
        <div class="header">
            <div class="nav-bar"></div>
            <div class="sign-in-module">
                <div class="sign-in-module__container--upper">
                    <h1 class="sign-in-module__heading">Log In</h1>
                    <form class="sign-in-module__form">
                        <input type="email" name="sign-in-module__form--email" placeholder="Email"><br>
                        <input type="password" name="sign-in-module__form--password" placeholder="Password"><br>
                    </form>
                    <a href="" class="btn sign-in-module__btn--password-recover">Forgot Password?</a>
                    <a href="" class="btn sign-in-module__btn--sign-up-small">Need an account?</a>
                    <p class="sign-in-module__user-agreement-text">By clicking on Sign up you agree with<br>our Terms & Conditions</p>
                    <a href="" class="btn btn--primary-color btn--animated sign-in-module__btn"> SIGN IN</a>
                    <p class="sign-in-module__sign-in-option-text"> Or with</p>
                </div>
                <div class="row sign-in-module__container--lower">
                    <div class="col-1-of-3 colored-line--container">
                        <div class="colored-line--div-right"></div>
                    </div>
                    <div class="col-1-of-3">
                        <div class="row icon-container--social">
                            <div class="col-1-of-3">
                                <a href="" class="sign-in-module__link-account-btn">
                                    <img src="img/google.svg" alt="" class="social-media-icon--svg svg--google">
                                </a>
                            </div>
                            <div class="col-1-of-3">
                                <a href="" class="sign-in-module__link-account-btn">
                                    <img src="img/facebook.svg" alt="" class="social-media-icon--svg svg--facebook">
                                </a>
                            </div>
                            <div class="col-1-of-3">
                                <a href="" class="sign-in-module__link-account-btn">
                                    <img src="img/paypal.svg" alt="" class="social-media-icon--svg svg--paypal">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-1-of-3 colored-line--container">
                        <div class="colored-line--div-left"></div>
                    </div>
                </div>
            </div> 
        </div>
    </header>



    .sign-in-module{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    width: 50%;
    margin: 0 auto;

    &__container--upper{
        height: 85%;
        width: 100%;
        text-align: center;
        
    }

    &__heading{
        padding-top: 19rem;
        font-size: 5rem;
        color: white;
        text-transform: uppercase;
    }

    &__form{
        margin-top: 6.5rem;
        text-align: center;
        
        input{
            height: 6rem;
            width: 62%;
            font-size: 2rem;
            border:.15rem solid grey;
            border-radius: 3px;
            padding-left: 1rem;

            &[name$="--email"]{
                margin-bottom: 3rem;
            }
        }
    }

    &__user-agreement-text{
        margin-top: 3.8rem;
        font-size: 1.4rem;
        color: white;
    }

    &__btn{
        margin-top: 4rem;
        width: 37%;
        font-family: "Lato";
        font-size: 3rem;
        padding: 2.5rem 0;
        border-radius: 0 3px;

        &--password-recover{
            margin: .5rem 13% 0 0;
            font-size: 1.4rem;
            color: white;
        }
        &--sign-up-small{
            margin: .5rem 0 0 13%;
            font-size: 1.4rem;
            color: white;
        }
    }

    &__sign-in-option-text{
        position: relative;
        top: 35rem;
        font-size: 1.6rem;
        color: white;
    }

    &__container--lower{
        height: 15%;
        width: 100%;


        .colored-line--container{
            height: 100%;
            width: 100%;

            [class^="colored-line--div"]{
                height: 1.5%;
                width: 100%;
                background-color: black;
                border-radius: 4rem;
                margin: 7% auto 0 auto
            }
        }

        .icon-container--social{
            height: 3rem;
            width: 100%;
            text-align: center;
        
            .sign-in-module__link-account-btn{
                display: inline-block;
                height: 3rem;
                width: 3rem;
    
                .social-media-icon--svg{
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    height: 3rem;
                    width: 3rem;            
                }
            }
        }
    }
}

*/
/* Half-width

<header>
        <div class="header">
            <div class="nav-bar"></div>
            <div class="row">
                <div class="no-gutter-col-1-of-2 header__side header__side--left"></div>
                <div class="no-gutter-col-1-of-2 header__side header__side--right">
                    <div class="sign-in-module">
                        <div class="sign-in-module__container--upper">
                            <h1 class="sign-in-module__heading">Log In</h1>
                            <form class="sign-in-module__form">
                                <input type="email" name="sign-in-module__form--email" placeholder="Email"><br>
                                <input type="password" name="sign-in-module__form--password" placeholder="Password"><br>
                            </form>
                            <a href="" class="btn sign-in-module__btn--password-recover">Forgot Password?</a>
                            <a href="" class="btn sign-in-module__btn--sign-up-small">Need an account?</a>
                            <p class="sign-in-module__user-agreement-text">By clicking on Sign up you agree with<br>our Terms & Conditions</p>
                            <a href="" class="btn btn--primary-color btn--animated sign-in-module__btn"> SIGN IN</a>
                            <p class="sign-in-module__sign-in-option-text"> Or with</p>
                        </div>
                        <div class="row sign-in-module__container--lower">
                            <div class="no-gutter-col-1-of-3 colored-line--container">
                                <div class="colored-line--div-right"></div>
                            </div>
                            <div class="no-gutter-col-1-of-3">
                                <div class="row icon-container--social">
                                    <div class="col-1-of-3">
                                        <a href="" class="sign-in-module__link-account-btn">
                                            <img src="img/google.svg" alt="" class="social-media-icon--svg svg--google">
                                        </a>
                                    </div>
                                    <div class="col-1-of-3">
                                        <a href="" class="sign-in-module__link-account-btn">
                                            <img src="img/facebook.svg" alt="" class="social-media-icon--svg svg--facebook">
                                        </a>
                                    </div>
                                    <div class="col-1-of-3">
                                        <a href="" class="sign-in-module__link-account-btn">
                                            <img src="img/paypal.svg" alt="" class="social-media-icon--svg svg--paypal">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="no-gutter-col-1-of-3 colored-line--container">
                                <div class="colored-line--div-left"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </header>



    .sign-in-module{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    width: 100%;
    padding: 0 18rem 0 0;

    &__container--upper{
        height: 85%;
        width: 100%;
        text-align: center;
    }

    &__heading{
        padding-top: 19rem;
        font-size: 5rem;
        color: white;
    }

    &__form{
        margin-top: 6.5rem;
        text-align: center;
        
        input{
            height: 6rem;
            width: 62%;
            font-size: 2rem;
            border:.15rem solid grey;
            border-radius: 3px;
            padding-left: 1rem;

            &[name$="--email"]{
                margin-bottom: 3rem;
            }
        }
    }

    &__user-agreement-text{
        margin-top: 3.8rem;
        font-size: 1.4rem;
        color: white;
    }

    &__btn{
        margin-top: 4rem;
        width: 37%;
        font-family: "Lato";
        font-size: 3rem;
        padding: 2.5rem 0;
        border-radius: 0 3px;

        &--password-recover{
            margin: .5rem 13% 0 0;
            font-size: 1.4rem;
            color: white;
        }
        &--sign-up-small{
            margin: .5rem 0 0 13%;
            font-size: 1.4rem;
            color: white;
        }
    }

    &__sign-in-option-text{
        position: relative;
        top: 35rem;
        font-size: 1.6rem;
        color: white;
    }

    &__container--lower{
        height: 15%;
        width: 100%;


        .colored-line--container{
            height: 100%;
            width: 100%;

            [class^="colored-line--div"]{
                height: 1.5%;
                width: 70%;
                background-color: black;
                border-radius: 4rem;
                margin: 7% auto 0 auto
            }
        }

        .icon-container--social{
            height: 3rem;
            width: 100%;
            text-align: center;
            margin: 0 auto;
        

            .sign-in-module__link-account-btn{
                display: inline-block;
                height: 3rem;
                width: 3rem;
    

                .social-media-icon--svg{
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    height: 3rem;
                    width: 3rem;            
                }
            }
        }
    }
}






*/
.btn {
  display: inline-block;
  font-family: "lato";
  font-weight: 400;
  font-size: 1.6rem;
  text-align: center; }
  .btn:link, .btn:visited {
    text-decoration: none; }
  .btn:hover {
    text-decoration: none; }
  .btn:active {
    text-decoration: none; }
  .btn--primary-color {
    color: #ffffff;
    background-color: #03ebff; }

.sign-in-module {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  width: 50%;
  margin: 0 auto; }
  .sign-in-module__container--upper {
    height: 85%;
    width: 100%;
    text-align: center; }
  .sign-in-module__heading {
    padding-top: 19rem;
    font-size: 5rem;
    color: white;
    text-transform: uppercase; }
  .sign-in-module__form {
    margin-top: 6.5rem;
    text-align: center; }
    .sign-in-module__form input {
      height: 6rem;
      width: 62%;
      font-size: 2rem;
      border: .15rem solid grey;
      border-radius: 3px;
      padding-left: 1rem; }
      .sign-in-module__form input[class$="--username"] {
        margin-bottom: 3rem; }
  .sign-in-module__user-agreement-text {
    margin-top: 3.8rem;
    font-size: 1.4rem;
    color: white; }
  .sign-in-module__btn {
    margin-top: 4rem;
    width: 37%;
    font-family: "Lato";
    font-size: 3rem;
    padding: 2.5rem 0;
    border-radius: 0 3px; }
    .sign-in-module__btn--password-recover {
      margin: .5rem 13% 0 0;
      font-size: 1.4rem;
      color: white; }
    .sign-in-module__btn--sign-up-small {
      margin: .5rem 0 0 13%;
      font-size: 1.4rem;
      color: white; }
  .sign-in-module__sign-in-option-text {
    position: relative;
    top: 35rem;
    font-size: 1.6rem;
    color: white; }
  .sign-in-module__container--lower {
    height: 15%;
    width: 100%; }
    .sign-in-module__container--lower .colored-line--container {
      height: 100%;
      width: 100%; }
      .sign-in-module__container--lower .colored-line--container [class^="colored-line--div"] {
        height: 1.5%;
        width: 100%;
        background-color: black;
        border-radius: 4rem;
        margin: 7% auto 0 auto; }
    .sign-in-module__container--lower .icon-container--social {
      height: 3rem;
      width: 100%;
      text-align: center; }
      .sign-in-module__container--lower .icon-container--social .sign-in-module__link-account-btn {
        display: inline-block;
        height: 3rem;
        width: 3rem; }
        .sign-in-module__container--lower .icon-container--social .sign-in-module__link-account-btn .social-media-icon--svg {
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          height: 3rem;
          width: 3rem; }

/*<header>
        <div class="header">
            <div class="nav-bar"></div>
            <div class="sign-in-module">
                <div class="sign-in-module__container--upper">
                    <h1 class="sign-in-module__heading">Log In</h1>
                    <form class="sign-in-module__form">
                        <input type="email" name="sign-in-module__form--email" placeholder="Email"><br>
                        <input type="password" name="sign-in-module__form--password" placeholder="Password"><br>
                    </form>
                    <a href="" class="btn sign-in-module__btn--password-recover">Forgot Password?</a>
                    <a href="" class="btn sign-in-module__btn--sign-up-small">Need an account?</a>
                    <p class="sign-in-module__user-agreement-text">By clicking on Sign up you agree with<br>our Terms & Conditions</p>
                    <a href="" class="btn btn--primary-color btn--animated sign-in-module__btn"> SIGN IN</a>
                    <p class="sign-in-module__sign-in-option-text"> Or with</p>
                </div>
                <div class="row sign-in-module__container--lower">
                    <div class="col-1-of-3 colored-line--container">
                        <div class="colored-line--div-right"></div>
                    </div>
                    <div class="col-1-of-3">
                        <div class="row icon-container--social">
                            <div class="col-1-of-3">
                                <a href="" class="sign-in-module__link-account-btn">
                                    <img src="img/google.svg" alt="" class="social-media-icon--svg svg--google">
                                </a>
                            </div>
                            <div class="col-1-of-3">
                                <a href="" class="sign-in-module__link-account-btn">
                                    <img src="img/facebook.svg" alt="" class="social-media-icon--svg svg--facebook">
                                </a>
                            </div>
                            <div class="col-1-of-3">
                                <a href="" class="sign-in-module__link-account-btn">
                                    <img src="img/paypal.svg" alt="" class="social-media-icon--svg svg--paypal">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-1-of-3 colored-line--container">
                        <div class="colored-line--div-left"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    */
.header {
  position: relative;
  height: 101rem;
  width: 100%;
  margin: 0 auto;
  background-color: #9846f2;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%23c08df7' fill-opacity='0.4' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E"); }
  .header__side {
    height: 101rem;
    width: 50%; }

.row {
  max-width: 100%;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-1 {
    /*
    width: calc((100% - 6rem) / 2);
    width: calc((100% - (2 * 6rem )) / 3);
    width: calc(2 * ((100% - (2 * 6rem )) / 3) + 6rem);
    width: calc((100% - (3 * 6rem )) / 4);
    width: calc(2 * ((100% - (3 * 6rem )) / 4) + 6rem);
    width: calc(3 * ((100% - (3 * 6rem )) / 4) + (6rem * 2));
*/
    width: calc(1 * ((100% - ((1 - 1) * 6rem)) / 1) + ( (1 - 1) * 6rem)); }
  .row .col-1-of-2 {
    /*
    width: calc((100% - 6rem) / 2);
    width: calc((100% - (2 * 6rem )) / 3);
    width: calc(2 * ((100% - (2 * 6rem )) / 3) + 6rem);
    width: calc((100% - (3 * 6rem )) / 4);
    width: calc(2 * ((100% - (3 * 6rem )) / 4) + 6rem);
    width: calc(3 * ((100% - (3 * 6rem )) / 4) + (6rem * 2));
*/
    width: calc(1 * ((100% - ((2 - 1) * 6rem)) / 2) + ( (1 - 1) * 6rem)); }
  .row .col-1-of-3 {
    /*
    width: calc((100% - 6rem) / 2);
    width: calc((100% - (2 * 6rem )) / 3);
    width: calc(2 * ((100% - (2 * 6rem )) / 3) + 6rem);
    width: calc((100% - (3 * 6rem )) / 4);
    width: calc(2 * ((100% - (3 * 6rem )) / 4) + 6rem);
    width: calc(3 * ((100% - (3 * 6rem )) / 4) + (6rem * 2));
*/
    width: calc(1 * ((100% - ((3 - 1) * 6rem)) / 3) + ( (1 - 1) * 6rem)); }
  .row .col-2-of-3 {
    /*
    width: calc((100% - 6rem) / 2);
    width: calc((100% - (2 * 6rem )) / 3);
    width: calc(2 * ((100% - (2 * 6rem )) / 3) + 6rem);
    width: calc((100% - (3 * 6rem )) / 4);
    width: calc(2 * ((100% - (3 * 6rem )) / 4) + 6rem);
    width: calc(3 * ((100% - (3 * 6rem )) / 4) + (6rem * 2));
*/
    width: calc(2 * ((100% - ((3 - 1) * 6rem)) / 3) + ( (2 - 1) * 6rem)); }
  .row .col-1-of-4 {
    /*
    width: calc((100% - 6rem) / 2);
    width: calc((100% - (2 * 6rem )) / 3);
    width: calc(2 * ((100% - (2 * 6rem )) / 3) + 6rem);
    width: calc((100% - (3 * 6rem )) / 4);
    width: calc(2 * ((100% - (3 * 6rem )) / 4) + 6rem);
    width: calc(3 * ((100% - (3 * 6rem )) / 4) + (6rem * 2));
*/
    width: calc(1 * ((100% - ((4 - 1) * 6rem)) / 4) + ( (1 - 1) * 6rem)); }
  .row .col-2-of-4 {
    /*
    width: calc((100% - 6rem) / 2);
    width: calc((100% - (2 * 6rem )) / 3);
    width: calc(2 * ((100% - (2 * 6rem )) / 3) + 6rem);
    width: calc((100% - (3 * 6rem )) / 4);
    width: calc(2 * ((100% - (3 * 6rem )) / 4) + 6rem);
    width: calc(3 * ((100% - (3 * 6rem )) / 4) + (6rem * 2));
*/
    width: calc(2 * ((100% - ((4 - 1) * 6rem)) / 4) + ( (2 - 1) * 6rem)); }
  .row .col-3-of-4 {
    /*
    width: calc((100% - 6rem) / 2);
    width: calc((100% - (2 * 6rem )) / 3);
    width: calc(2 * ((100% - (2 * 6rem )) / 3) + 6rem);
    width: calc((100% - (3 * 6rem )) / 4);
    width: calc(2 * ((100% - (3 * 6rem )) / 4) + 6rem);
    width: calc(3 * ((100% - (3 * 6rem )) / 4) + (6rem * 2));
*/
    width: calc(3 * ((100% - ((4 - 1) * 6rem)) / 4) + ( (3 - 1) * 6rem)); }
  .row .col-1-of-5 {
    /*
    width: calc((100% - 6rem) / 2);
    width: calc((100% - (2 * 6rem )) / 3);
    width: calc(2 * ((100% - (2 * 6rem )) / 3) + 6rem);
    width: calc((100% - (3 * 6rem )) / 4);
    width: calc(2 * ((100% - (3 * 6rem )) / 4) + 6rem);
    width: calc(3 * ((100% - (3 * 6rem )) / 4) + (6rem * 2));
*/
    width: calc(1 * ((100% - ((5 - 1) * 6rem)) / 5) + ( (1 - 1) * 6rem)); }
  .row .col-2-of-5 {
    /*
    width: calc((100% - 6rem) / 2);
    width: calc((100% - (2 * 6rem )) / 3);
    width: calc(2 * ((100% - (2 * 6rem )) / 3) + 6rem);
    width: calc((100% - (3 * 6rem )) / 4);
    width: calc(2 * ((100% - (3 * 6rem )) / 4) + 6rem);
    width: calc(3 * ((100% - (3 * 6rem )) / 4) + (6rem * 2));
*/
    width: calc(2 * ((100% - ((5 - 1) * 6rem)) / 5) + ( (2 - 1) * 6rem)); }
  .row .col-3-of-5 {
    /*
    width: calc((100% - 6rem) / 2);
    width: calc((100% - (2 * 6rem )) / 3);
    width: calc(2 * ((100% - (2 * 6rem )) / 3) + 6rem);
    width: calc((100% - (3 * 6rem )) / 4);
    width: calc(2 * ((100% - (3 * 6rem )) / 4) + 6rem);
    width: calc(3 * ((100% - (3 * 6rem )) / 4) + (6rem * 2));
*/
    width: calc(3 * ((100% - ((5 - 1) * 6rem)) / 5) + ( (3 - 1) * 6rem)); }
  .row .col-4-of-5 {
    /*
    width: calc((100% - 6rem) / 2);
    width: calc((100% - (2 * 6rem )) / 3);
    width: calc(2 * ((100% - (2 * 6rem )) / 3) + 6rem);
    width: calc((100% - (3 * 6rem )) / 4);
    width: calc(2 * ((100% - (3 * 6rem )) / 4) + 6rem);
    width: calc(3 * ((100% - (3 * 6rem )) / 4) + (6rem * 2));
*/
    width: calc(4 * ((100% - ((5 - 1) * 6rem)) / 5) + ( (4 - 1) * 6rem)); }
  .row [class*="no-gutter-col-"] {
    float: left; }
  .row .no-gutter-col-1-of-1 {
    width: calc(1 * (100% / 1)); }
  .row .no-gutter-col-1-of-2 {
    width: calc(1 * (100% / 2)); }
  .row .no-gutter-col-1-of-3 {
    width: calc(1 * (100% / 3)); }
  .row .no-gutter-col-2-of-3 {
    width: calc(2 * (100% / 3)); }
  .row .no-gutter-col-1-of-4 {
    width: calc(1 * (100% / 4)); }
  .row .no-gutter-col-2-of-4 {
    width: calc(2 * (100% / 4)); }
  .row .no-gutter-col-3-of-4 {
    width: calc(3 * (100% / 4)); }
  .row .no-gutter-col-1-of-5 {
    width: calc(1 * (100% / 5)); }
  .row .no-gutter-col-2-of-5 {
    width: calc(2 * (100% / 5)); }
  .row .no-gutter-col-3-of-5 {
    width: calc(3 * (100% / 5)); }
  .row .no-gutter-col-4-of-5 {
    width: calc(4 * (100% / 5)); }

/* 
    <div class="grid-test">
            <div class="row">
                <div class="col-1-of-1">Col 1 of 1</div>
            </div>
            <div class="row">
                <div class="col-1-of-2">Col 1 of 2</div>
                <div class="col-1-of-2">Col 1 of 2</div>
            </div>
            <div class="row">
                <div class="col-1-of-3">Col 1 of 3</div>
                <div class="col-2-of-3">Col 2 of 3</div>
            </div>
            <div class="row">
                <div class="col-1-of-4">Col 1 of 4</div>
                <div class="col-3-of-4">Col 3 of 4</div>
            </div>
            <div class="row">
                <div class="col-2-of-4">Col 2 of 4</div>
                <div class="col-2-of-4">Col 2 of 4</div>
            </div>
            <div class="row">
                <div class="col-2-of-5">Col 2 of 5</div>
                <div class="col-3-of-5">Col 3 of 5</div>
            </div>
            <div class="row">
                <div class="col-1-of-5">Col 1 of 5</div>
                <div class="col-4-of-5">Col 4 of 5</div>
            </div>
        </div>
*/
.section-features {
  height: 101rem;
  width: 100%;
  text-align: center; }
  .section-features__header-box {
    height: 35%;
    width: 100%; }
  .section-features__heading {
    position: relative;
    top: 70%;
    transform: translateY(-50%); }
  .section-features__feature-box {
    height: 50%;
    width: 100%;
    padding: 6rem 30rem; }
    .section-features__feature-box-feature--1, .section-features__feature-box-feature--2, .section-features__feature-box-feature--3, .section-features__feature-box-feature--4 {
      height: 100%;
      padding: 1rem;
      background-color: rgba(255, 255, 255, 0.8);
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
      transition: transform .3s; }
      .section-features__feature-box-feature--1:hover, .section-features__feature-box-feature--2:hover, .section-features__feature-box-feature--3:hover, .section-features__feature-box-feature--4:hover {
        transform: scale(1.05) translateY(-1.5rem); }
      .section-features__feature-box-feature--1 ion-icon, .section-features__feature-box-feature--2 ion-icon, .section-features__feature-box-feature--3 ion-icon, .section-features__feature-box-feature--4 ion-icon {
        margin-top: 6rem;
        font-size: 10rem;
        color: purple; }
      .section-features__feature-box-feature--1 h3, .section-features__feature-box-feature--2 h3, .section-features__feature-box-feature--3 h3, .section-features__feature-box-feature--4 h3 {
        margin-top: 5rem; }
      .section-features__feature-box-feature--1 .feature--support-text, .section-features__feature-box-feature--2 .feature--support-text, .section-features__feature-box-feature--3 .feature--support-text, .section-features__feature-box-feature--4 .feature--support-text {
        margin-top: 1rem; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }
