.btn{
    display: inline-block;
    font-family: "lato";
    font-weight: 400;
    font-size: 1.6rem;
    text-align: center;
    
    &:link, &:visited{
        text-decoration: none;
    }

    &:hover{
        text-decoration: none;
    }

    &:active{
        text-decoration: none;
    }

    &--primary-color{
        color: #ffffff;
        background-color: rgba(152,70,242,1);
    }
}
